<%= simple_form_for(@invmtolinea, validate: true, remote: true) do |f| %>
  <% if @invmtolinea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invmtolinea.errors.count, "error") %> prohibited this invmtolinea from being saved:</h2>
      <ul>
      <% @invmtolinea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :nombre, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
