<p id="notice"><%= notice %></p>

<p>
  <strong>Codlinea:</strong>
  <%= @invmtolinea.codlinea %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @invmtolinea.nombre %>
</p>

<p>
  <strong>Nis:</strong>
  <%= @invmtolinea.nis %>
</p>

<p>
  <strong>Feacceso:</strong>
  <%= @invmtolinea.feacceso %>
</p>

<%= link_to 'Edit', edit_invmtolinea_path(@invmtolinea) %> |
<%= link_to 'Back', invmtolineas_path %>
