<% content_for(:sidebar) do %>
  <%= render :partial => 'layouts/sidebar' %>
<% end %>
<div>
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <div title="Nueva Linea" data-toogle="tooltip" placement="left">
        <%= link_to raw('<span class="glyphicon glyphicon-plus"></span>'), new_invmtolinea_path, {:remote => true, :class => 'btn btn-success', 'data-toggle' =>  "modal", 'data-target' => '#modalW'} %>
      </div>
    </div>
    <div class="col-md-8 col-sm-8 sbx">
      <%= form_tag invmtolineas_path, method: :get, remote: true, :id => 'searchfrm' do %>
        <%= text_field_tag :keyword, nil, placeholder: "Busqueda", class: 'form-control schb' %>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div id="invmtolineas" class="col-md-12 col-sm-12">
    <%= render 'invmtolineas' %>
  </div>
</div>
<div id="modalW" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>